---
import { getI18n } from '../i18n'

const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })
---

<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h1 class="uppercase text-4xl text-center font-semibold mb-10 text-balance">
    {i18n.PREFOOTER_VIDEO_TITLE}
  </h1>

  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="nYPVr2IYTtk"
    videotitle={i18n.PREFOOTER_VIDEO_TITLE}></lite-youtube>
</section>

<script>
  import '@justinribeiro/lite-youtube'
</script>
